on: [push]

name: build

jobs:
  build_blackduck_with_java:
    name: Build blackduck with java 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build BlackDuck Docker Images with java
      uses: philips-software/docker-ci-scripts@v3.1.0
      with:
        dockerfile: 6/java
        image-name: blackduck
        tags: latest 6 6.7 6.7.0
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: '${{ secrets.DOCKER_PASSWORD }}'
        DOCKER_ORGANIZATION: philipssoftware
        GITHUB_ORGANIZATION: philips-software
  
  build_blackduck_with_node:
    name: Build blackduck with node 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build BlackDuck Docker Images with node
      uses: philips-software/docker-ci-scripts@v3.1.0
      with:
        dockerfile: 6/node
        image-name: blackduck
        tags: node 6-node 6.7-node 6.7.0-node
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: '${{ secrets.DOCKER_PASSWORD }}'
        DOCKER_ORGANIZATION: philipssoftware
        GITHUB_ORGANIZATION: philips-software

  build_blackduck_with_golang:
    name: Build blackduck with golang
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build BlackDuck Docker Images with golang
      uses: philips-software/docker-ci-scripts@v3.1.0
      with:
        dockerfile: 6/golang
        image-name: blackduck
        tags: golang 6-golang 6.7-golang 6.7.0-golang
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: '${{ secrets.DOCKER_PASSWORD }}'
        DOCKER_ORGANIZATION: philipssoftware
        GITHUB_ORGANIZATION: philips-software

  build_blackduck_with_dotnetcore_2_2_110:
    name: Build blackduck with dotnet core 2.2.110
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build BlackDuck Docker Images with dotnet core 2.2.110
      uses: philips-software/docker-ci-scripts@v3.1.0
      with:
        dockerfile: 6/dotnetcore-2.2.110
        image-name: blackduck
        tags: dotnetcore-2.2.110 6-dotnetcore-2.2 6.7-dotnetcore-2.2.110 6.7.0-dotnetcore-2.2.110
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: '${{ secrets.DOCKER_PASSWORD }}'
        DOCKER_ORGANIZATION: philipssoftware
        GITHUB_ORGANIZATION: philips-software

  build_blackduck_with_dotnetcore_3_0_101:
    name: Build blackduck with dotnet core 3.0.101
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build BlackDuck Docker Images with dotnet core
      uses: philips-software/docker-ci-scripts@v3.1.0
      with:
        dockerfile: 6/dotnetcore-3.0.101
        image-name: blackduck
        tags: 6.7-dotnetcore-3.0 6.7.0-dotnetcore-3.0.101
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: '${{ secrets.DOCKER_PASSWORD }}'
        DOCKER_ORGANIZATION: philipssoftware
        GITHUB_ORGANIZATION: philips-software

  build_blackduck_with_dotnetcore_3_1_102:
    name: Build blackduck with dotnet core 3.1.102
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build BlackDuck Docker Images with dotnet core
      uses: philips-software/docker-ci-scripts@v3.1.0
      with:
        dockerfile: 6/dotnetcore-3.1.102
        image-name: blackduck
        tags: 6.7.0-dotnetcore-3.1.102
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: '${{ secrets.DOCKER_PASSWORD }}'
        DOCKER_ORGANIZATION: philipssoftware
        GITHUB_ORGANIZATION: philips-software

  build_blackduck_with_dotnetcore_3_1_302:
    name: Build blackduck with dotnet core 3.1.302
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build BlackDuck Docker Images with dotnet core
      uses: philips-software/docker-ci-scripts@v3.1.0
      with:
        dockerfile: 6/dotnetcore-3.1.302
        image-name: blackduck
        tags: dotnetcore 6-dotnetcore 6-dotnetcore-3 6-dotnetcore-3.1 6.7-dotnetcore 6.7-dotnetcore-3.1 6.7.0-dotnetcore 6.7.0-dotnetcore-3.1.302
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: '${{ secrets.DOCKER_PASSWORD }}'
        DOCKER_ORGANIZATION: philipssoftware
        GITHUB_ORGANIZATION: philips-software

  build_blackduck_with_docker_detector:
    name: Build blackduck with docker detector
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build BlackDuck Docker Images with docker detector
      uses: philips-software/docker-ci-scripts@v3.1.0
      with:
        dockerfile: 6/docker
        image-name: blackduck
        tags: docker 6-docker 6.5-docker 6.5.0-docker
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: '${{ secrets.DOCKER_PASSWORD }}'
        DOCKER_ORGANIZATION: philipssoftware
        GITHUB_ORGANIZATION: philips-software
